site_name: faceoff
repo_url: https://github.com/vgreg/faceoff
site_url: https://vgreg.github.io/faceoff
site_description: Terminal tool for watching hockey games
site_author: Vincent Gregoire
edit_uri: edit/main/docs/
repo_name: vgreg/faceoff
copyright: Maintained by <a href="https://vgreg.com">vgreg</a>.

nav:
  - Home: index.md
  - Modules: modules.md
plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          paths: ["src/faceoff"]
theme:
  name: material
  logo: assets/faceoff_logo.png
  favicon: assets/faceoff_logo.png
  feature:
    tabs: true
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: white
      accent: deep orange
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      accent: deep orange
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  icon:
    repo: fontawesome/brands/github

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/vgreg/faceoff
    - icon: fontawesome/brands/python
      link: https://pypi.org/project/faceoff

markdown_extensions:
  - toc:
      permalink: true
  - pymdownx.arithmatex:
      generic: true
